* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;

}

section {
    display: flex;
    /* height: 1275px; */
    /* overflow: hidden; */
    height: 100vh;

}

.left {
    width: 15%;
    box-sizing: border-box;
    padding-top: 1%;
    background-color: #fdfef9;
    /* background-color: #dac2a8; */
    background-color: #3b624d;
    color: white;
    /* overflow: hidden; */
    padding-top: 5%;
}

.title {
    font-size: 30px;
    height: 20%;
    line-height: 30px;
    text-align: center;
}

.title img {
    width: 40%;

    vertical-align: middle;
}

.left p:nth-child(4) {
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
}

.nav {
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-top: 50%;
}

.nav li {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: antiquewhite;

}

.right {
    width: 85%;
    /* background-color: red; */
    overflow-y: auto;
    /* background-color: #d5c4a8; */
    background-color: #F5f5dc;
    overflow-x: hidden;
}

.contact {
    /* background-color: red; */
    margin-top: 60%;
    text-align: center;
    margin-bottom: 10%;
}

.right img:not(.lme) :not(.conbanner) {
    width: 100%;
    height: 100vh;
    display: block;
}

.contact span {
    font-size: 2.2em;
    border-radius: 50%;
    display: inline-block;
    background-color: wheat;
    color: grey;
}

a {
    text-decoration: none !important;
    color: #000;
    color: white;
}

.nav li:hover {
    color: white;
}

body {
    color: wheat;
}

/* 动画 */
@keyframes move-1 {
    0% {
        transform: translate(0, -500px);
    }

    100% {
        transform: translate(0, 0);
    }

}

@keyframes move-2 {
    0% {
        transform: translate(0, 500px);
    }

    100% {
        transform: translate(0, 0);
    }

}


/* 响应式 */


@media all and (orientation:portrait) {
    section {
        display: block;
    }

    .left {
        width: 100%;
        font-size: 10px;
        padding-top: 1%;
    }

    .right {
        width: 100%;
        padding-bottom: 30px;
    }

    .nav {
        height: auto;
        flex-direction: row;
        margin-top: 0;
        width: 100%;
    }

    .nav li {
        width: 25%;
        font-size: 10px;
    }

    .contact {
        display: none;
    }

    .left p:nth-child(4) {
        display: none;
    }

    .title img {
        width: 10%;

    }

    .logo {
        width: ;

    }

    .bannerone {
        width: 100%;
        height: 100vh;
    }

    .nav {
        position: fixed;
        top: calc(100vh - 35px);
        background-color: #3b624d;
        height: 35px;
        z-index: 2;
    }

    .nav li {
        line-height: 35px;
    }

}